# Build and Leiningen files
target/
classes/
checkouts/
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
*.iml
.lein-*
.nrepl-port
.prepl-port

# Version control
.hgignore
.hg/

# Java source
src/java/

# IDE files
.idea/



